<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

        <hr>
        
        <div class="list-group">

            <h4>Liste des commentaires (3)</h4>

            <div class="list-group-item">
                <h5 class="list-group-item-heading">Jean-Luc Reichmann <small>jean-luc-reichmann@gmail.com</small><span class="date small pull-right">13 juin 2008 - 19h30</span></h5>
                <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit mi porta gravida.</p>
            </div>

            <div class="list-group-item">
                <h5 class="list-group-item-heading">David Pujadas <small>david-pujadas@hotmail.fr</small><span class="date small pull-right">14 juin 2008 - 23h28</span></h5>
                <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit sed diam, elit metus eget.</p>
            </div>

            <div class="list-group-item">
                <h5 class="list-group-item-heading">Cyril Hanouna <small>cyril-hanouna@laposte.net</small><span class="date small pull-right">17 juin 2008 - 10h20</span></h5>
                <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
            </div>

        </div>

        <br>

        <%= render 'form_comment' %>

    </div>
</div>