<% title @post.title %>
<% header_image @post.cover_image %>
<% post_heading @post %>

<!-- Post Content -->
<div class="row">
    <article class="text-justify">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <%= @post.content.html_safe %>

            <!-- Pager -->
            <ul class="pager">
                <li class="previous">
                    <% if @post.previous_post %>
                        <%= link_to "&larr; Article précédent".html_safe, post_path(@post.previous_post.id), rel: 'tooltip', 'data-toggle' => "tooltip", 'data-placement' => "top", 'data-original-title' => @post.previous_post.title %>
                    <% end %>
                </li>
                <li class="next">
                    <% if @post.next_post %>
                        <%= link_to "Article suivant &rarr;".html_safe, post_path(@post.next_post.id), rel: 'tooltip', 'data-toggle' => "tooltip", 'data-placement' => "top", 'data-original-title' => @post.next_post.title %>
                    <% end %>
                </li>
            </ul>
        </div>
    </article>
</div>

<%= render 'comments' %>