<% title 'About' %>
<% header_image 'http://cdn.wall-pix.net/albums/art-space/00004911.jpg' %>
<% site_heading 'À propos', 'Brève présentation du blog' %>

<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <p>Ce blog traite de sujets divers et variés. Il s'agit plutôt d'un blog personnel que d'un blog tournant autour d'un thème précis. Les articles qui s'y trouvent reflètes à peu de chose près les centres d'intérêt de son créateur :).</p>

        <h2 class="section-heading">Qui sont les auteurs ?</h2>

        <p>Plusieurs personnes sont suceptibles d'écrire des articles sur ce blog, ce sont des amis et je partage très souvent leur point de vue sur un sujet, c'est pourquoi afin d'étoffer mon blog j'ai choisis de laisser plusieurs auteurs produire des articles ici.</p>

        <h2>Pierre 'Kayyow' Marchal</h2>
        
        <p>C'est bien moi, je suis développeur web passionné par un très grand nombre de domaine (Internet, Hip Hop, Arts martiaux, Réflexion personnelle, l'Espace, ...). Je me suis servis de ce blog comme d'un entrainement au développement mais également afin de pouvoir écrire des choses qui me tiennent à coeur et que j'aimerais partager avec d'autres personnes sans pour autant publier un statut sur Facebook. J'ai développé ce site en Ruby on Rails pour le back end et un thème bootstrap (adapté à mes besoins) pour le front.</p>
        <p>Je suis fortement intéressé par le fonctionnements des choses que ce soit en rapport à la technique ou des phénomènes de sociétés, j'aime creuser afin de comprendre qu'est ce qui est à l'origine de telle action...</p>

        <h2>Prénom Nom</h2>

        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    </div>
</div>