<% header_image 'http://wallpapersonthe.net/wallpapers/b/1920x1080/1920x1080-cat_laptop_cat_checking_daily_mails_mail_animals-18618.jpg' %>
<% title 'Contact' %>
<% site_heading 'Contacte moi', 'Lorem ipsum blab blabla' %>

<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <p>Tu souhaites me contacter ? Rempli le formulaire suivant pour m'envoyer un message, j'essayerai d'y répondre au plus tôt !</p>
        
        <%= render 'form' %>
    </div>
</div>