<div class="site-heading">
    <h1><%= header_title %></h1>
    <% if header_description %>
        <hr class="small">
        <span class="subheading"><%= header_description %></span>
    <% end %>
</div>